@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");


:root{
    --primary-font: "Nunito", sans-serif;
    --secondary-font:"Rubik", cursive;
    --primary-color:orange;
    --secondary-color:lightblue;
}
body {
    font-family: var(--primary-font);
    background-color: var(--secondary-color);
}

/* nav */
#navbar{    
    background-color: var(--primary-color);
}
#navheader{
    font-size: 1.5rem;
    padding-top: 0.5rem;
}

#navlogo{
    padding-right: 2rem;
}
/*Header*/
#hero{
    background-image:url("../images/Cat-cafe-3.jpg");
    min-height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;

}

#herocontent{
    background-color: rgba(127, 255, 212,0.3);
    max-width: 150px;
    position:absolute;
    top:40px;   
}

/*Main*/
#about .card {
    margin-bottom: 1rem;
}



/*Footer*/
#contact {
    background-color: var(--primary-color);
    padding-bottom: 4rem;
    max-height: 400px;
}



/*Media queries*/

@media screen and (min-width:768px) {
    #herocontent {
        max-width: 300px;
        top:100px;
    }
}

@media screen and (min-width:992px) {
    #herocontent {
        max-width: 400px;
        top:200px;
    }
}