@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");


:root{
    --primary-font: "Nunito", "Rubik";
    --primary-color:orange;
}
body {
    font-family: var(--primary-font);
    background-color: lightblue;
}

/* nav */
#navbar{    
    background-color: var(--primary-color);
}
#navheader{
    font-size: 1.5rem;
    padding-top: 0.5rem;
}

#navlogo{
    padding-right: 2rem;
}
/*Header*/
#hero{
    background-image:url("../images/Cat-cafe-3.jpg");
    min-height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

#herocontent{
    background-color: rgba(127, 255, 212,0.3);
    max-width: 150px;
    position:absolute;
    top:40px;   
}
/*Footer*/
#contact {
    background-color: var(--primary-color);
    padding-bottom: 4rem;
    
}